<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
		  <title>La Chic Mode</title>
		  <link rel="stylesheet" href="css/main.css">
		  <script type="text/javascript" src="/jquery/dist/jquery.js"></script>
		  <script type="text/javascript" src="/underscore/underscore.js"></script>
		  <script type="text/javascript" src="/js/index.js"></script>
		  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
	</head>
	<body>
		<div>

    <input type="text" placeholder="search here">
		</div>
	</body>
		
</html>
