<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
		  <title>La Chic Mode</title>
		  <link rel="stylesheet" href="css/main.css">
		  <script type="text/javascript" src="/vendor/jquery/dist/jquery.js"></script>
		  <script type="text/javascript" src="/vendor/underscore/underscore.js"></script>
		  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
		  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
		  <script rel="text/javascript" href="js/app.js"></script>
		  
	</head>
	<body>
	</body>

</html>