
html,
body {
  height: 100%;
  width:100%;
  background-image: url("street.jpg");
  /* The html and body elements cannot have any padding or margin. */
}
h2 {
  color: rgb(51,51,51);
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

.wrapper {
   position: relative;
}
/*.glyphicon {
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 30px;
  color: white;
  z-index: 999;
}*/
.modal-content{
  background-image: url("dog.jpg")
}
.modal
{
    opacity:0.75 !important;
}


#footer {
  height: 60px;
  background-color: #222;
  color: rgb(51,51,51);
}


#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}


#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

#etsy-search{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: rgb(51,51,51);
    opacity:0.75
}

#etsy-search input{
    border: 0;
    box-shadow: none;
    background-color: rgb(51,51,51);
    opacity:0.75 ;
    color:#FFFFEB;
}

#etsy-search button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
    background-color: rgb(51,51,51);
    opacity:0.75;
}

#etsy-search button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
    background-color: rgb(51,51,51);
    opacity:0.75
}

#etsy-search .glyphicon-search{
    font-size: 23px;
}
